#***************************************************************************
# development configuration switches

CC_CFG	  	= /i=$(%WWFLAT)\include /d2 /fh /of+ /zp1 /5s /s
ASM_CFG		= /i. /i$(%WWFLAT)\include /zd /t /m /w+ /jJUMPS /ml
LIB_CFG   	= /b /n /n
LINK_CFG  	= option stack=32k debug all

#***************************************************************************
# Release configuration switches

#CC_CFG	  = /i=$(%WWFLAT)\include /d1 /oateirl /s /fh /zp1 /5s
#ASM_CFG	  = /i$(%WWFLAT)\include /zd /t /m /w+ /jJUMPS /ml
#LIB_CFG   = /b /n /n
#LINK_CFG  = option stack=32k debug all


