.SILENT
.OPTIMIZE
.ERASE
#***************************************************************************
# development configuration switches
#CC_CFG         = -bt=nt /i=$(%WIN32LIB)\include -W3 -d2 -orilt /4 -s -j -DNUMEGA=1
#CC_CFG          = -bt=nt /i=$(%WIN32LIB)\include -W3 -d2 -od /4 -s -j -DNUMEGA=1
ASM_CFG		= /i. /i$(%WIN32LIB)\include /zi /t /m /w+ /jJUMPS /ml
LIB_CFG   	= /b /n /n
LINK_CFG  	= debug codeview system nt_win option stack=64k  op map
#ASM_CFG		= /i. /i$(%WIN32LIB)\include /zd /t /m /w+ /jJUMPS /ml
#LIB_CFG   	= /b /n /n
#LINK_CFG  	= option stack=32k debug all

#***************************************************************************
# Release configuration switches

CC_CFG   = /i=$(%WIN32LIB)\include /W3 /d1 /otxan /s /4 /j
#ASM_CFG	  = /i$(%WIN32LIB)\include /zd /t /m /w+ /jJUMPS /ml
#LIB_CFG   = /b /n /n
#LINK_CFG  = option stack=32k debug all

